
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="products-male" style="padding-top: 80px;">
    <div class="container">
        <div class="title">Nam</div>
        <div class="row mt-2">
            <div class="col-md-3 filter">
                <div class="filter-price mb-3">
                    <div class="card">
                        <div class="card-header">Lọc theo Giá</div>
                        <div class="card-body">
                            <p><a href="">Dưới 300.000₫</a></p>
                            <p><a href="">300.000₫ - 500.000₫</a></p>
                            <p><a href="">500.000₫ - 1.000.000₫</a></p>
                            <p><a href="">Trên 1.000.000₫</a></p>
                        </div>
                    </div>
                </div>
                <div class="filter-size mb-3">
                    <div class="card">
                        <div class="card-header">Size</div>
                        <div class="card-body">
                            <a href="" class="mr-2">37</a>
                            <a href="" class="mr-2">38</a>
                            <a href="" class="mr-2">39</a>
                            <a href="" class="mr-2">40</a>
                            <a href="" class="mr-2">41</a>
                            <a href="" class="mr-2">42</a>
                        </div>
                    </div>
                </div>
                <div class="filter-brand mb-3">
                    <div class="card">
                        <div class="card-header">Nhãn hiệu</div>
                        <div class="card-body">
                            <p><a href="">Nike</a></p>
                            <p><a href="">Adidas</a></p>
                            <p><a href="">Puma</a></p>
                            <p><a href="">Biti's</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="filter-categories">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <select name="" id="" class="form-control">
                                <option value="">Bán chạy nhất</option>
                                <option value="">Mới nhất</option>
                                <option value="">Cũ nhất</option>
                                <option value="">Giá: Tăng dần</option>
                                <option value="">Giá: Giảm dần</option>
                            </select>
                        </div>
                        <div class="col-md-9">
                            <div class="categories-child">
                                <a href="" class="btn btn-primary">Giày thể thao</a>
                                <a href="" class="btn btn-primary">Giày tây</a>
                                <a href="" class="btn btn-primary">Giày lười</a>
                                <a href="" class="btn btn-primary">Giày boots</a>
                                <a href="" class="btn btn-primary">Dép</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-4">
                        <div class="product">
                            <label class="badge badge-warning">-50%</label><br>
                            <label class="badge badge-danger">Khuyến mãi</label>
                            <a href="/Product/Detail">
                                <img class="thumbnail-img" src="/img/product/male/product-1.webp" alt="">
                            </a>
                            <hr>
                            <h1 class="product-name"><a href="/Product/Detail">Tên sản phẩm</a></h1>
                            <div>
                                <span class="price"><strong>790.000₫</strong></span>
                                <del class="original-price float-right">990.000₫</del>
                            </div>
                            <button class="btn btn-success btn-addToCart w-100 mt-3">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="product">
                            <label class="badge badge-warning">-50%</label><br>
                            <label class="badge badge-danger">Khuyến mãi</label>
                            <a href="/Product/Detail">
                                <img class="thumbnail-img" src="/img/product/male/product-2.webp" alt="">
                            </a>
                            <hr>
                            <h1 class="product-name"><a href="/Product/Detail">Tên sản phẩm</a></h1>
                            <div>
                                <span class="price"><strong>790.000₫</strong></span>
                                <del class="original-price float-right">990.000₫</del>
                            </div>
                            <button class="btn btn-success btn-addToCart w-100 mt-3">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="product">
                            <label class="badge badge-warning">-50%</label><br>
                            <label class="badge badge-danger">Khuyến mãi</label>
                            <a href="/Product/Detail">
                                <img class="thumbnail-img" src="/img/product/male/product-3.webp" alt="">
                            </a>
                            <hr>
                            <h1 class="product-name"><a href="/Product/Detail">Tên sản phẩm</a></h1>
                            <div>
                                <span class="price"><strong>790.000₫</strong></span>
                                <del class="original-price float-right">990.000₫</del>
                            </div>
                            <button class="btn btn-success btn-addToCart w-100 mt-3">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-4">
                        <div class="product">
                            <label class="badge badge-warning">-50%</label><br>
                            <label class="badge badge-danger">Khuyến mãi</label>
                            <a href="/Product/Detail">
                                <img class="thumbnail-img" src="/img/product/male/product-1.webp" alt="">
                            </a>
                            <hr>
                            <h1 class="product-name"><a href="/Product/Detail">Tên sản phẩm</a></h1>
                            <div>
                                <span class="price"><strong>790.000₫</strong></span>
                                <del class="original-price float-right">990.000₫</del>
                            </div>
                            <button class="btn btn-success btn-addToCart w-100 mt-3">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="product">
                            <label class="badge badge-warning">-50%</label><br>
                            <label class="badge badge-danger">Khuyến mãi</label>
                            <a href="/Product/Detail">
                                <img class="thumbnail-img" src="/img/product/male/product-2.webp" alt="">
                            </a>
                            <hr>
                            <h1 class="product-name"><a href="/Product/Detail">Tên sản phẩm</a></h1>
                            <div>
                                <span class="price"><strong>790.000₫</strong></span>
                                <del class="original-price float-right">990.000₫</del>
                            </div>
                            <button class="btn btn-success btn-addToCart w-100 mt-3">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <div class="product">
                            <label class="badge badge-warning">-50%</label><br>
                            <label class="badge badge-danger">Khuyến mãi</label>
                            <a href="/Product/Detail">
                                <img class="thumbnail-img" src="/img/product/male/product-3.webp" alt="">
                            </a>
                            <hr>
                            <h1 class="product-name"><a href="/Product/Detail">Tên sản phẩm</a></h1>
                            <div>
                                <span class="price"><strong>790.000₫</strong></span>
                                <del class="original-price float-right">990.000₫</del>
                            </div>
                            <button class="btn btn-success btn-addToCart w-100 mt-3">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a href="" class="btn-see-more">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>

