@model GDStore.ViewModel.Users.UserUpdateRequest
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
            swal("@Html.Raw(TempData["message"].ToString())", "", "success");
    </script>
}
<h1 class="title-content">Chỉnh sửa người dùng</h1>

<div class="mt-5">
    <form asp-action="Edit" asp-controller="User" asp-area="Admin" method="post">
        <div class="row">
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label">Họ</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label">Tên</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu lại" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}