@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="title-content">Trang chủ</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="ov-box">
            <h2 class="title-box">Đơn hàng</h2>
            <div style="color: #36b9cc;">
                <i class="fas fa-clipboard fa-4x"></i>
                <span style="float: right; font-size: 45px;">+25</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ov-box">
            <h2 class="title-box">Sản phẩm</h2>
            <div style="color: #1cc88a;">
                <i class="fas fa-box-open fa-4x"></i>
                <span style="float: right; font-size: 45px;">+10</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ov-box">
            <h2 class="title-box">Khuyến mãi</h2>
            <div style="color: #e74a3b;">
                <i class="fas fa-gift fa-4x"></i>
                <span style="float: right; font-size: 45px;">+15</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ov-box">
            <h2 class="title-box">Nhãn hiệu</h2>
            <div style="color: #f6c23e;">
                <i class="fas fa-copyright fa-4x"></i>
                <span style="float: right; font-size: 45px;">+125</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ov-box">
            <h2 class="title-box">Khách hàng</h2>
            <div style="color: #4e73df;">
                <i class="fas fa-users fa-4x"></i>
                <span style="float: right; font-size: 45px;">+490</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ov-box">
            <h2 class="title-box">Thống kê</h2>
            <div style="color: #858796;">
                <i class="fas fa-chart-line fa-4x"></i>
                <span style="float: right; font-size: 45px;">+385</span>
            </div>
        </div>
    </div>
</div>
