
@{
    ViewData["Title"] = "Về GDStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about pt-65px">
    <div class="container">
        <div class="text-center mt-3 mb-3">
            <img src="/img/logo-png.png" alt="">
        </div>
        <p>
            <b><i>GDStore.com</i></b> là website về giày dép. Hôm nay, chúng tôi tự hào cung cấp dịch vụ chăm sóc khách
            hàng tốt nhất cho khách hàng trực tuyến tại đây tại <b><i>GDStore.com</i></b> và tại các cửa hàng giày ở khu vực của chúng tôi.
        </p>
        <p>
            Kể từ khi thành lập <b><i>GDStore.com</i></b>, chúng tôi đã cống hiến sức lực của mình để cung cấp dịch vụ khách
            hàng dễ thương và có kiến ​​thức với giao hàng miễn phí nhanh chóng cho mọi khách hàng. Dịch vụ khách
            hàng xuất sắc là tiêu chuẩn của and <b><i>GDStore.com</i></b>. Mục tiêu của
            chúng tôi là đảm bảo đáp ứng nhu cầu của bạn về chất lượng, kiểu dáng và sự thoải mái.
        </p>
        <p>
            Phong cách, sự thoải mái và chất lượng là trọng tâm của đội mua <b><i>GDStore.com</i></b>. Các thương hiệu chúng tôi
            mang theo phản ánh giá trị của chúng tôi, đó là lý do tại sao chúng tôi tìm kiếm trên thế giới những đôi
            giày tốt nhất mỗi mùa. Chúng tôi biết rằng nếu bạn không chăm sóc đôi chân của mình thì toàn bộ cơ thể
            bạn sẽ bị ảnh hưởng. Các thương hiệu như Adidas, Nike, Puma, Bitis là hình ảnh thu nhỏ của chúng ta.
            Các kiểu dáng chất lượng hàng đầu được chế tác bằng vật liệu hỗ trợ,
            kiểu dáng và tinh tế. Mỗi đơn đặt hàng của <b><i>GDStore.com</i></b> đều được giao hàng miễn
            phí và cũng có thể trả lại hàng miễn phí.
        </p>

    </div>
</section>