
@{
    ViewData["Title"] = "Chính sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="policy pt-65px">
    <div class="container">
        <h4 class="pt-4">Chính sách trả hàng tại GDStore như thế nào?</h4>
        <div class="article-body">
            <p>
                Tại GDStore, chúng tôi trân trọng sự tin tưởng của khách hàng khi đặt mua sản phẩm. Chính sách hậu
                mãi ở GDStore được xây dựng dựa trên cam kết bảo vệ quyền lợi người tiêu dùng để quý khách có thể
                yên tâm mua sắm và trải nghiệm dịch vụ tại GDStore.
            </p>
            <p><strong>Chính sách đổi trả hàng tại GDStore&nbsp;</strong></p>
            <p>
                GDStore đảm bảo sản phẩm được bán tại GDStore là sản phẩm mới và 100% chính hãng. Trong trường hợp
                hiếm hoi sản phẩm quý khách nhận được có khiếm khuyết, hư hỏng hoặc không như mô tả, GDStore cam kết
                bảo vệ khách hàng bằng chính sách đổi trả và bảo hành tại&nbsp;<a href="https://GDStore.vn/doi-tra-de-dang" target="_self">đây</a>.
            </p>
            <p><img src="~/img/mceclip0.png" alt="mceclip0.png" width="100%"></p>
            <p>
                Đối với các sản phẩm bánh trung thu, nếu có phát sinh lỗi, quý khách vui lòng liên hệ GDStore Care
                trong vòng 3 ngày kể từ khi nhận hàng thành công để được hỗ trợ tốt nhất.
            </p>
            <p>*Chính sách này áp dụng cho hầu hết các sản phẩm ở GDStore, ngoại trừ:</p>
            <ul>
                <li>
                    Đơn hàng có sản phẩm yêu cầu đổi – trả do lỗi ngoại quan&nbsp;nhưng đã có biên bản đồng kiểm
                    giữa bên vận chuyển và khách hàng.
                </li>
                <li>
                    Sản phẩm nằm trong danh mục hạn chế đổi trả sau <a href="/hc/vi/articles/203806004"
                                                                       target="_self">đây</a>.
                </li>
            </ul>
            <p>
                <strong>Lưu ý:</strong> Để đảm bảo quyền lợi khách hàng và GDStore có cơ sở làm việc với các bộ phận
                liên quan, tất cả yêu cầu đổi/ trả/ bảo hành quý khách cần cung cấp hình ảnh/clip sản phẩm lỗi.
                GDStore xin phép từ chối khi chưa nhận đủ thông tin hình ảnh từ quý khách.
            </p>
            <p>&nbsp;</p>
        </div>
        <h4 class="pt-4">Chính sách giao hàng tại GDStore như thế nào?</h4>
        <div id="se-knowledge">
            <p>GDStore có 2&nbsp;hình thức giao hàng: Giao hàng tiêu chuẩn và Giao hàng hỏa tốc.</p>
            <table width="100%" border="1" cellpadding="0" cellspacing="0" style="width:100%; text-align: center;">
                <tbody>
                    <tr>
                        <td style="width:300" width="300" rowspan="1" colspan="1">
                            <p style="text-align:center"><strong><i>Hình thức giao hàng</i></strong></p>
                        </td>
                        <td style="width:500" width="500" rowspan="1" colspan="1">
                            <p style="text-align:center"><strong><i>Thời gian</i></strong></p>
                        </td>
                        <td rowspan="1" colspan="1">
                            <p style="text-align:center"><strong><i>Chi phí</i></strong></p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr></tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <p>Tóm tắt</p>
                        </td>
                        <td rowspan="1" colspan="1">
                            <p>
                                Thời gian giao hàng phụ thuộc vào vị trí nhận hàng và vị trí hàng hóa được lưu trữ
                                (kho của GDStore hoặc kho của nhà cung cấp).
                            </p>
                        </td>
                        <td rowspan="2" colspan="1">
                            <p>
                                Xem thông tin chi tiết tại <a href="https://www.GDStore.vn/helpcenter/phi-giao-ha%CC%80ng-duoc-tinh-nhu-the-nao.html?spm=a2o4n.helpcenter-article.article-content.1.1e405067PptFrx"
                                                              target="_blank" class=""
                                                              data-spm-anchor-id="a2o4n.helpcenter-article.article-content.1">[Đây]</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <p>Giao hàng tiêu chuẩn</p>
                        </td>
                        <td rowspan="1" colspan="1">
                            <p>Thời gian giao hàng sẽ ngắn hơn và hiệu quả hơn so với Giao hàng tiết kiệm.</p>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">
                            <p>Giao hàng hỏa tốc</p>
                        </td>
                        <td rowspan="1" colspan="1">
                            <p>
                                Đơn hàng đặt trước 17:00 sẽ được giao hàng cùng ngày, đơn hàng đặt sau 17:00 sẽ được
                                giao hàng trong ngày tiếp theo (dịch vụ không hoạt động vào ngày chủ nhận và các
                                ngày lễ). Lưu ý: mỗi quận sẽ có giờ áp dụng giao hàng trong ngày khác nhau, để biết
                                rõ thông tin chi tiết, vui lòng truy cập tại <a href="https://www.GDStore.vn/helpcenter/thoi-gian-giao-hang-du-kien-khi-lua-chon-hinh-thuc-giao-hang-hoa-toc.html?spm=a2o4n.helpcenter.0.0.5c9f124cpqehkf"
                                                                                target="_blank" class=""
                                                                                data-spm-anchor-id="a2o4n.helpcenter-article.article-content.2">[Đây]</a>
                            </p>
                        </td>
                        <td rowspan="1" colspan="1"
                            data-spm-anchor-id="a2o4n.helpcenter-article.article-content.i0.1e405067PptFrx">
                            <p>
                                Xem thông tin chi tiết tại <a href="https://www.GDStore.vn/helpcenter/chi-phi-cho-don-hang-hoa-toc-la-bao-nhieu.html?spm=a2o4n.helpcenter.0.0.3470124cWMsfkB"
                                                              target="_blank" class=""
                                                              data-spm-anchor-id="a2o4n.helpcenter-article.article-content.3">[Đây]</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <p>
                Kể&nbsp;từ&nbsp;ngày&nbsp;01/11/2019&nbsp;GDStore&nbsp;sẽ&nbsp;triển&nbsp;khai&nbsp;dịch&nbsp;vụ&nbsp;giao&nbsp;hàng&nbsp;tiết&nbsp;kiệm&nbsp;cho&nbsp;tất&nbsp;cả&nbsp;các&nbsp;đơn&nbsp;hàng&nbsp;giao&nbsp;hàng&nbsp;từ&nbsp;Hồ&nbsp;Chí&nbsp;Minh&nbsp;đến
                các quận thuộc Hà&nbsp;Nội. Thời gian giao hàng tiết kiệm có thể chậm hơn so với giao hàng tiêu
                chuẩn 2-3 ngày nhưng tiết kiệm được chi phí vận chuyển. Xem thông tin chi tiết tại <a href="https://www.GDStore.vn/helpcenter/phi-giao-hang-cho-van-chuyen-tiet-kiem.html?spm=a2o4n.helpcenter-topic.articles-list.1.4ded5794px0Dcw"
                                                                                                      target="_blank" class=""
                                                                                                      data-spm-anchor-id="a2o4n.helpcenter-article.article-content.4">[Đây]</a>
            </p>
        </div>
    </div>
</section>

